* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: url('../img/bg.jpg') center center/cover no-repeat;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: flex-end;
    margin: 51px 0 17px;
}

.logo-img {
    width: 53px;
    height: 52px;
}

.logo-img img {
    filter: grayscale(1) brightness(1000%);
}

.logo-name {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 8px;
}

.logo-name span {
    font-size: 18px;
}

.header-logo:hover .logo-img img {
    filter: none;
}

.header-logo:hover .logo-name {
    color: #F26522;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 46px;
}

.contacts-email, .contacts-tel {
    font-size: 18px;
    color: #FFFFFF;
}

.contacts-email {
    margin-bottom: 19px;
}

.contacts-tel:hover,
.contacts-email:hover {
    color: #F26522;
    transition: all .4s linear;
}

.tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tour {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
}

.tour-link {
    margin-bottom: 20px;
}

.tour-link-img {
    width: 300px;
    height: 220px;
    box-sizing: border-box;
    border: 2px solid;
    border-image: linear-gradient(#fff, #000) 1 100%;
    border-image-slice: 1;
}

.tour-link-name {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.rights {
    padding: 15px 0;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
}

.tour-hover {
    visibility: hidden;
    position: absolute;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    bottom: 46px;
    padding: 7px 37px 12px 16px;
    box-sizing: border-box;
}

.tour-hover span {
    font-size: 10px;
    color: #FFFFFF;
}

.tour-hover span:first-of-type  {
    display: block;
    position: relative;
    line-height: 10px;
    margin-bottom: 8px;
}

.tour-hover span:nth-of-type(2)  {
    font-size: 20px;
    line-height: 20px;
}

.more {
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 128px;
    vertical-align: text-top;
}

.more:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #fff;
    bottom: 19px;
    right: 19px;
    transform: rotate(135deg);
}

.more:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 8px;
    background-color: #fff;
    bottom: 14px;
    right: 19px;
    transform: rotate(45deg);
}

.tour:hover .tour-hover {
    animation-name: tour-hover;
    animation-duration: 1s; 
    animation-timing-function: ease;    
    visibility: visible;
}
 
@keyframes tour-hover {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50%{
        transform: translateY(-8%);
    }
    65%{
        transform: translateY(4%);
    }
    80%{
        transform: translateY(-4%);
    }
    95%{
        transform: translateY(2%);
    }           
    100% {
        transform: translateY(0%);
        opacity: 1;
    }   
}

.tour:hover .tour-link-name {
    color: #F26522;
    transition: all .4s linear;
}







